/* center the whole page */
#wrapper{
    margin: auto;
    width: 80%;
    border: 1px solid;
    height: 100%;
    overflow: hidden;
}

#login-form{
    border: 1px solid;
    width: 40%;
    margin: auto;
}

#login-header{
    border-bottom: 2px solid;
    width: 100%;
    background: gray;
}

.padding-login{
    padding: 10px 20px;
}

#login-menu{
    background: #280000;
    width: 100%;
    height: 25px;
    top: 0px;
    left: 0px;
    position: fixed;
    overflow: hidden;
}

.text-left{
    float: left;
}

.text-right{
    float: right;
}

#header{
    width: 100%;
    height: 100px;
    background-color: #FFFF66;
    text-align: center;
    line-height: 100px;
    border-bottom: 2px ridge;
    font-size: 300%;
}

#show-login{
    background-color: #FFFF66;
    font-size: 90%;
}

#menu{
    width: 20%;
    border-right: 2px ridge;
    float: left;
}

#content{
    border-left: 1px solid;
    padding: 10px;
    overflow: hidden;
}

.menu-divisor{
    border-top: 2px ridge;
    text-align: center;
    font-weight: bold;
    background-color: #339999;
    border-color: gray;
}

.sub-menu-divisor{
    text-align: right;
    background-color: #500000;
    border-left: 15px ridge;
    border-top: 2px ridge;
    border-color: gray;
    font-style: italic;

}

.top-button{
    border: 2px solid;
    border-color: gray;
    line-height: 129%;
    text-padding: 5px;
    float: right;
}

.sub-menu-divisor:hover{
    background-color: #980000;
    color: gray;
}

.menu-divisor:hover{
    background-color: #E0E0E0;
    color: gray;
}

#sub-menu1{
    display: none;
}

a.menu-option{
    text-decoration: none;
}

a.menu-option:link, a.menu-option:visited{
    color: #E0E0E0;
}

#footer{
    width: 50%;
    border-top: 1px dotted;
}
